version: "3"
services:
  auth:
    build: ./auth-api
  users:
    build: ./users-api
    environment:
      AUTH_ADDRESS: auth
    ports: 
      - "8080:8080"
  tasks:
    build: ./tasks-api
    ports: 
      - "8000:8000"
    environment:
      TASKS_FOLDER: tasks
      AUTH_ADDRESS: auth
  frontend:
    build: ./frontend
    ports:
      - "82:80"
    environment:
      REACT_APP_TASKS_ADDRESS: 192.168.49.2:30196
    depends_on:
      - tasks
    
