version: "3.8" # Version of the docker-compose specifications
services:
  mongodb:
    image: "mongo"
    volumes: 
      - data:/data/jony_db
    container_name: mongodb
    env_file:
      - ./env/mongo.env
  backend:
    build: ./backend
    ports:
      - "81:81"
    volumes:
      - logs:/app/logs # Named Volume
      - ./backend:/app # Bind-mount
      - /app/node_modules # Anonymous Volume
    container_name: goals-backend
    env_file:
      - ./env/backend.env
    depends_on: 
      - mongodb
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
    container_name: goals-react
    stdin_open: true
    tty: true
    depends_on:
      - backend
volumes:
  data:
  logs:
