apiVersion: apps/v1
kind: Deployment
metadata: 
  name: users-deployment 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: planaterobotics/kub-demo-users:latest
          imagePullPolicy: Always
          # env:
          #   - name: AUTH_ADDRESS
          #     value: "10.101.187.158"