version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - '81:80'
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./env/backend.env
    dns:
      - 1.1.1.1
      - 1.0.0.1
  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    volumes:
      - ./frontend/src:/app/src
    stdin_open: true
    tty: true
    depends_on:
      - backend
